# Rename the file to .env to apply the configuration

# The path to the database, where all data will be stored
DB_PATH=blog.db
# Port on which the web server will run
PORT=:8080
# Number of incorrect password entries before the account is blocked
PWD_MAX_ATTEMPTS=5
# Hours for which the account will be blocked after incorrect password attempts
PWD_BLOCK_TIME=24
# After how many minutes the request will be closed with a timeout
REQUEST_TIMEOUT=5
